mat-card-title {
    font-size: small;
    margin-left: 40%;
}

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    /*change size*/
    max-width: 330px;
}

.wrapper {
    height: 100%;
    margin-top: -5%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}